@page
@model PrivacyModel
@{
    ViewData["Alpine"] = "Alpine.js Experiment";
}
<h1>@ViewData["Alpine"]</h1>

<p>Experiment away</p>
<p>-----</p>

<div x-data="{ answerA: '', answerB: '', answerC: ''}">
    <p>Heb je een bed?</p>
    <input type="radio" id="ja" name="answerA" value="Ja">
    <label for="ja">Ja</label><br>
    <input type="radio" id="nee" name="answerA" value="Nee">
    <label for="nee">Nee</label><br>

    <p>Heb je een hangmat?</p>
    <input type="radio" id="ja" name="answerB" value="Ja">
    <label for="ja">Ja</label><br>
    <input type="radio" id="nee" name="answerB" value="Nee">
    <label for="nee">Nee</label><br>

    <p>Heb je een hoogslaper?</p>
    <input type="radio" id="ja" name="answerC" value="Ja">
    <label for="ja">Ja</label><br>
    <input type="radio" id="nee" name="answerC" value="Nee">
    <label for="nee">Nee</label><br>
</div>
